header {
  border-bottom:1px solid rgb(65, 64, 64) ;
  .warper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0;
    
    h2{
      font-size: 3.5rem;
      display: inline-block;
      background-image: linear-gradient(to right, #2bde8c, #5ce865);
      font-weight: 700;
      background-clip: text;
      color: transparent;
      transition: all .3s;
      cursor: pointer;
      &:hover{
        background-image: linear-gradient(to right, #5ce865, #2bde8c);
      }
    }
    nav {
      ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li {
          list-style: none;
          .active {
            background: linear-gradient(90deg, #2bde8c 50%, #5ce865);
            color: #fff;
          }
          a {
            margin: 15px 8px 0 0 ;
            display: inline-block;
            background-color:transparent;
            text-decoration: none;
            padding: 8px 18px;
            border-radius: 100px;
            &:hover {
              text-decoration: none;
              background: linear-gradient(90deg, #2bde8c 50%, #5ce865);
              color: #fff;
            }
          }
        }
      }
    }
  }
}