body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

.nice-dates-popover {
  max-width: 450px !important;
  /* position: fixed !important; */
  width: 250px !important;
}

button:focus {
  outline: none;
}

label.dv-star-rating-star.dv-star-rating-full-star {
  font-size: 24px;
}

label.dv-star-rating-empty-star>i {
  font-size: 24px !important;
}

.raging p {
  padding-top: 10px;
  padding-left: 5px;
}

.coming-soon {
  font-size: 3.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #2bde8c, #5ce865);
  font-weight: 700;
  background-clip: text;
  color: transparent;
  transition: all .3s;
  cursor: pointer;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin: 0 auto;
}

.coming-soon:hover {
  background-image: linear-gradient(to right, #5ce865, #2bde8c);
}