.items {
  position: relative;
.item-title {
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0rem;
    position: absolute;
    right: 0;
    top: 70px;
    cursor: pointer;
  }
}
}
.card-container{
  display: flex;
  flex: 1 1 0px;
  // justify-content: space-between;
  .img-container{
    height: 150px;
    margin-bottom: 5px;
    transition: all .5s;
    &:hover {
     transform: scale(1.10);
     img {
      border-radius: 5px;
     }
    }
  }
  h4 {
    font-size: 13px;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
  }
  h6 {
    margin-bottom: 0rem;
    font-size: 14px;
    font-weight: 400;
  }
  img{
    height: 100%;
    width: 100%;
    transition: all .5s;
    object-fit: cover;
  }
  .card-item{
   flex-grow: 1;
   padding: 5px;
   .text-content {
     h3 {
       cursor: pointer;
     }
   }
   &:first-child{
     padding-left: 0;
   }
   &:last-child{
     padding-right: 0;
   }
  }
}